// font-size
$small: 1.2rem;
$default: 1.4rem;
$large: 1.6rem;
$x-large: 2rem;

// font-weight
$regular: 400;
$medium: 500;
$semi-bold: 600;

// color
$navy: #3b3c3c;
$dark-gray: #484848;
$gray: #6e6e6e;
$sky-gray: #b3b3b3;
$silver: #c7c7c7;
$de-white: #dedede;
$off-white: #e2e2e2;
$ea-white: #eaeaea;
$f7-white: #f7f7f7;
$f4-white: #f4f4f4;
$ghost-white: #fcfcfc;
$white: #ffffff;
$flesh: #f1cea0;
$pale-orange: #edbb9b;
$mandarin-orange: #db7b00;
$marigold: #f08b4b;
$yellow-orange: #f87826;
$yellow-red: #d8661e;
$orange: #d5523c;

// font-family
$mont: "Montserrat", sans-serif;
