// font-size
$small: 1.2rem;
$default: 1.4rem;
$large: 1.6rem;
$x-large: 2rem;

// font-weight
$regular: 400;
$medium: 500;
$semi-bold: 600;

// color
$gray: #6e6e6e;
$dark-gray: #484848;
$off-white: #e2e2e2;
$navy: #3b3c3c;
$orange: #d5523c;

// font-family
$mont: "Montserrat", sans-serif;
