// font-size
$small: 1.2rem;
$default: 1.4rem;
$large: 1.6rem;
$x-large: 2rem;

// font-weight
$regular: 400;
$medium: 500;
$semi-bold: 600;

// color
$light-gray: #f8f8f8;
$gray: #6e6e6e;
$dark-gray: #484848;
$off-white: #E2E2E2;
$navy: #3B3C3C;

// font-family
$mont: "Montserrat", sans-serif;
